extends layout

block content
  h1 #{title}: #{book_instance.book.title}
  p #[strong Imprint:] #{book_instance.imprint}
  p
    span #[strong Status: ]
    if book_instance.status=='Available'
        span.text-success #{book_instance.status}
    else if book_instance.status=='Maintenance'
        span.text-danger #{book_instance.status}
    else
        span.text-warning #{book_instance.status}
  if book_instance.status!='Available'
    p #[strong Due back:] #{book_instance.due_back}
    p #[strong Id:]
        a(href=book_instance.url) #{book_instance._id}
  
  br
  
  p Do you really want to delete this Book?

  form(method='POST' action='')
    div.form-group
    input#bookinstanceid.form-control(type='hidden',name='bookinstanceid', required='true', value=book_instance._id )

    button.btn.btn-primary(type='submit') Delete